html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Roboto Condensed", sans-serif;
}

/* ########## HEADINGS ########## */
.heading-gn{
    color: #41464b;
    margin-top: 50px;
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
}
.heading-line{
    background-color: palevioletred;
    width: 50px;
    height: 3px; 
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* ########## BUTTONS ########## */
.button-white {
    border: 2px solid white;
    border-radius: 0;
    color: white;
    padding: 7px 30px;
    margin: 15px;
    text-transform: uppercase;
}

.button-white:hover {
    background-color: white;
    color: black;
}

/* ########## ANIMATIONS ########## */
.home-img-wrapper {
    animation-delay: 0.1s;
    animation-duration: 0.5s;
}

.home-heading {
    animation-delay: 0.5s;
    animation-duration: 0.5s;
}

.home-btn {
    animation-duration: 0.5s;
    animation-delay: 1s;
}

/* ########### PARALLAX ########## */
.parallax{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* ########## HOME ########### */
#home {
    height: 100%;
}

.home-img-wrapper {
    height: 100%;
    background-image: url("../img/bg-home.jpg");
}

.home-content {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
}

.home-content-inner {
    display: table-cell;
    vertical-align: middle;
}

.home-content-inner h1 {
    color: white;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
}

/* ######### AIM ########## */

#aim .aim-content-heading{
    color: #41464b;
}

#aim .container{
    margin-bottom: 40px;
}

#aim .aim-content{
    padding: 30px;
    border : 0px solid #41464b;
    margin: 20px 10px;
    border-radius: 0%;
    background-color: lavender;
    box-shadow: 0px 1px 7px palevioletred;
}

.aim-content{
    font-size: 18px;
}
.aim-content-heading{
    font-weight: 600;
}

/* ########## ABOUT ########## */
#about .heading-line{
    margin-left: 10px;
}
.about-content{
    padding: 100px 30px;
    float: left;
}
.about-content p{
    font-size: 20px;
}

.about-img{
    height: 600px;
    background-image: url("../img/bg-about.jpg");
    border-left: 100px solid white;
    border-top: 700px solid transparent;
}

/* ########## BLOGS ########### */
.blogs-cover{
    background-image: url("../img/bg-blogs.jpg");
}
.blogs-content-box{
    background-color: rgba(0,0,0,0.1);
}
.blogs-heading{
    color: white;
    font-size: 45px;
    padding-top: 30px;
    font-weight: 700;
}
.blogs-plural{
    padding: 50px 0;
}
.blogs-singular img{
    display: block;
    max-width: 120px;
    margin: 0 auto 0 auto;
}

.blogs-singular p{
    color: white;
    font-family: Georgia, sans-serif;
    font-style: italic;
    padding: 6px 180px;
    font-size: 18px;
}

.blogger p {
    color: white;
    font-size: 17px;
    font-style: normal;
    font-family: "Roboto Condensed", sans-serif;
}

.blogger p strong {
    display: block;
}

.owl-carousel span {
    background: rgb(243, 183, 203) !important;
}

.owl-carousel .active span {
    background: palevioletred !important;
}